{% extends 'base.html' %}
{% load auth_extras %}
{% block title %}All users | AYJ Chess Club{% endblock title %}
{% block content %}
<div class="container py-3">
<h3 style="background-color: #282c34; color: #eee;" class="rounded px-2" id="announcements">
    <div class="d-flex">
      <div class="flex-grow-1">Users</div>
      <i class="pb-1 bi bi-people-fill"></i>
    </div>
</h3>

<div class="py-2">
  <div class="border rounded">
    <div class="p-2">
      <table>
        <tbody>
          <tr>
            <th>Title</th>
            <th>Range</th>
          </tr>
          <tr class="fw-bold" style="color: #aaa!important;">
            <td>beginner</td>
            <td>< 5</td>
          </tr>
          <tr class="fw-bold" style="color: #009acd!important;">
            <td>novice</td>
            <td>5 - 9</td>
          </tr>
          <tr class="fw-bold" style="color: #00a900!important;">
            <td>amateur</td>
            <td>10 - 14</td>
          </tr>
          <tr class="fw-bold" style="color: blue!important;">
            <td>intermediate</td>
            <td>15 - 24</td>
          </tr>
          <tr class="fw-bold" style="color: purple!important;">
            <td>strong intermediate</td>
            <td>24 - 39</td>
          </tr>
          <tr class="fw-bold" style="color: #ffb100!important;">
            <td>advanced</td>
            <td>39 - 80</td>
          </tr>
          <tr class="fw-bold" style="color: #e00!important;">
            <td>expert</td>
            <td>$\geq$ 80</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <div class="list-group py-2">
    {% for user in all_users %}
    <a style="color: {{ user.userprofile.user_color }};" href=" {% url 'show-profile' user.username %} " class="fw-bold users-list-group-item list-group-item list-group-item-action">{% if user|in_group:"execs" %}{{ user.username }}  <i style="color: #333;" class="bi bi-shield-shaded"></i> {% else %} {{ user.username }} {% endif %}</a>
    {% endfor %}
  </div>
  <div class="py-2">
    <ul class="pagination">
      {% if all_users.has_previous %}
      <li class="page-item">
        <a class="paginator-page-link-active page-link" href="?page={{ all_users.previous_page_number }}" aria-label="Previous">
        <span>&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="disabled page-item">
        <a class="paginator-page-link disabled page-link" href="" aria-label="Previous">
        <span>&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for i in all_users.paginator.page_range %}
      {% if all_users.number == i %}
      <li class="page-item active"><a class="page-link active" href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
      <li class="page-item"><a class="paginator-page-link page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if all_users.has_next %}
      <li class="page-item">
        <a class="page-link paginator-page-link-active" href="?page={{ all_users.next_page_number }}" aria-label="Next">
        <span>&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="disabled page-item">
        <a class="disabled page-link paginator-page-link" href="" aria-label="Previous">
        <span>&raquo;</span>
        </a>
        {% endif %}
    </ul>
  </div>
</div>
{% endblock %}