Hi {{ user.username }},
<br>
<br>
You're receiving this email because you requested a password reset for your user account.
<br>
<br>
To confirm your request, click on the following link:
<br>
<br>
http://{{ domain }}{% url 'reset-password-confirm' uidb64=uid token=token %}
<br>
<br>
If you have not requested a password change on our website, please ignore this email.
<br>
<br>
<br>
A. Y. Jackson Chess Club
<br>
<br>
<a href="https://ayjchess.pythonanywhere.com">Website</a> | <a href="https://instagram.com/ayjchessclub">Instagram</a> | <a href="https://www.facebook.com/groups/176340034444236/">Facebook</a>

