{% extends 'base.html' %}
{% block title %}About | AYJ Chess{% endblock %}
{% block content %}
<div class="container py-4">
  <h1>About</h1>
  <hr>
  <p>
  Welcome to AYJ's student run Chess Club. Battle to victory with your peers in various types of chess such as Bullet, Rapid, and Blitz. Employ your favorite openings, tactics, and pursue your opponent's blunders. You name it!
  <br>
  <br>
  We host tournaments every two weeks and provide many lessons as well as a community of great chess players and enthusiasts to help you further your game.
  <br>
  <br>
  Join the <a class="text-decoration-none" target="_blank" href="https://discord.gg/tvVD5baNth">community!</a>
  <br>
  <br>
  It is also highly encouraged that upon joining the club, you register an account on this site. We post announcements as well as dedicated lesson plans with each tournament.
  <br>
  <br>
  The events tab shows our schedule for the year and there are lessons based on different skill levels.
  <br>
  <br>
  Have some fun at AYJ's first Chess Club!
  </p>
  <h4>I have something in mind for a lesson!</h4>
  <hr>
  Sure thing! We'd love to hear your idea, just shoot us a comment or suggestion at our email: <code>ayjchess@gmail.com</code>
  <br>
  <br>
  <h4>Would you like to be an exec?</h4>
  <hr>
  Fill out the exec application form <a class="text-decoration-none" href="">here</a>. Expect to get a reply within the next few days.
  <br>
  <br>
  <blockquote style="color: #888;">
  How do I know if I'm qualified enough?
  </blockquote>
  <br>
  The best thing to do is to try and apply. You might be lucky and end up being the president of this club!
  <hr>
  <div class="rounded-3 divider justify-content-center d-flex align-items-center p-1">
    <h2 class="" style="font-weight: 800; color: #ffdaad;">MEET THE TEAM</h2>
  </div>
  <div class="py-4 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm bg-transparent border">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, vero assumenda rem provident blanditiis impedit aliquid atque enim natus quidem voluptatem, ipsum minus sequi, voluptate ipsa quo animi consequuntur error.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <a class="text-decoration-none">View profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm bg-transparent border">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, vero assumenda rem provident blanditiis impedit aliquid atque enim natus quidem voluptatem, ipsum minus sequi, voluptate ipsa quo animi consequuntur error.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <a class="text-decoration-none">View profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm bg-transparent border">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, vero assumenda rem provident blanditiis impedit aliquid atque enim natus quidem voluptatem, ipsum minus sequi, voluptate ipsa quo animi consequuntur error.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <a class="text-decoration-none">View profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm bg-transparent border">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, vero assumenda rem provident blanditiis impedit aliquid atque enim natus quidem voluptatem, ipsum minus sequi, voluptate ipsa quo animi consequuntur error.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <a class="text-decoration-none">View profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}