{% extends 'base.html' %}
{% block title %}Events | AYJ Chess Club{% endblock %}
{% block content %}
<div class="container-fluid py-5 text-center">
  <h1>Schedule and upcoming Events</h1>
  <div class="container">
    <div class="ratio ratio-16x9">
    <iframe src="https://calendar.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=YXlqY2hlc3NAZ21haWwuY29t&amp;color=%23039BE5&amp;title=AYJ%20Chess%20Club%20Schedule" style="border-width:0" scrolling="no"></iframe>
  </div>
  </div>
</div>
{% endblock %}