{% extends 'base.html' %}
{% block title %}Difficulties{% endblock %}
{% block content %}
<div class="container-fluid text-center">
  <div class="row row-cols-1 row-cols-lg-3 p-3">
    <div class="col py-2">
      <div class="card h-100 bg-transparent border border-2">
        <img src="https://images.unsplash.com/flagged/photo-1570551502611-c590dc45f644?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1512&h=1010&q=80" alt="" class="card-img-top">
        <div class="card-body">
          <div class="text-start">
            <h4 class="card-title">Beginner</h4>
            <p class="card-text">
              Step by step lesson plans structured in a digestable manner. Great for those just starting out!
            </p>
          </div>
        </div>
        <div class="card-footer bg-transparent text-start border-top">
          <a href="../difficulty/beginner">
          <button class="btn btn-primary">Begin</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card h-100 bg-transparent border border-2">
        <img src="https://images.unsplash.com/photo-1602968407815-5963b28c66af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="" class="card-img-top">
        <div class="card-body">
          <div class="text-start">
            <h4 class="card-title">Intermediate</h4>
            <p class="card-text">
              Helps you extend your knowledge of basic chess openings. Good for intermediate players who would like to work on consistency and development.
            </p>
          </div>
        </div>
        <div class="card-footer bg-transparent text-start border-top">
          <a href="../difficulty/intermediate">
          <button class="btn btn-primary">Begin</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card h-100 bg-transparent border border-2">
        <img src="https://images.unsplash.com/photo-1571236207041-5fb70cec466e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&h=445&q=80" alt="" class="card-img-top">
        <div class="card-body" id="card">
          <div class="text-start">
            <h4 class="card-title">Advanced</h4>
            <p class="card-text">
              Further your knowledge on pawn structures, and master the endgame.
            </p>
          </div>
        </div>
        <div class="card-footer bg-transparent text-start border-top">
          <a href="../difficulty/advanced">
          <button class="btn btn-primary">Begin</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}