{% extends 'base.html' %}
{% load auth_extras %}
{% block js %}
<script>
  const goBack = () => {
    window.history.go(-1);
  };
</script>
{% endblock %}
{% block content %}
<div class="container">
  <br>
  <div class="d-flex">
    <h1 class="flex-grow-1">{{ addlesson.title | safe }}</h1>
    {% if request.user|in_group:"execs" %}
    <a class="px-2" href="{% url 'update-lesson' addlesson.pk %}">
    <i class="bi bi-pencil"></i>
    </a>
    <a class="px-2 text-danger" href="{% url 'delete-lesson' addlesson.pk %}">
    <i class="bi bi-trash"></i>
    </a>
    {% endif %}
  </div>
  <p class="lead fs-4">Author: {{ addlesson.author.first_name }} {{ addlesson.author.last_name }}</p>
  <p>{{ addlesson.body | safe }}</p>
  <div class="py-3">
    <hr>
    <button onclick="goBack()" class="btn btn-primary">
    Go Back
    </button>
  </div>
</div>
{% endblock %}