{% extends 'admin/layout.html' %}
{% load auth_extras %}
{% block js %}
<script>
  const closeSudo = () => {
    sudo = document.getElementById("fancy-sudo").remove()
    sudo_close_btn = document.getElementById("close-btn-sudo").remove()
  }
</script>
{% endblock js %}
{% block title %}{% if request.user|in_group:"execs" %}Dashboard | {{ loggedin_username }}{% else %}Error{% endif %}{% endblock %}
{% block content %}
{% if request.user|in_group:"execs" %}
<div class="py-2">
  <h1>Hello {{ loggedin_username }}</h1>
  <p class="lead h4">Role: {{ current_groups }}</p>
  <button class="btn text-primary" onclick="closeSudo()" id="close-btn-sudo">Close</button>
  <pre class="rounded-3" id="fancy-sudo">
  <code class="shell">
  We trust you have received the usual lecture from the local System
  Administrator. It usually boils down to these three things:

    #1) Respect the privacy of others.
    #2) Think before you type.
    #3) With great power comes great responsibility.
  </code>
</pre>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active bg-transparent" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" role="tab" aria-controls="docs" aria-selected="true">Users list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-transparent" id="docs-tab" data-bs-toggle="tab" data-bs-target="#docs" role="tab" aria-controls="docs" aria-selected="false">Docs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-transparent" id="getting-started-tab" data-bs-toggle="tab" data-bs-target="#getting-started" role="tab" aria-controls="getting-started" aria-selected="false">Get Started</a>
    </li>
  </ul>
  <div class="tab-content" id="tabContent">
    <div class="tab-pane fade bg-transparent show active" id="users" role="tabpanel" aria-labelledby="users-tab">
      <div class="list-group py-2">
        {% for user in all_users %}
        <a href="{% url 'show-profile' user.username %}" class="list-group-item list-group-item-action">{% if user|in_group:"execs" %}{{ user.username }}  <i class="bi bi-shield-shaded"></i> {% else %} {{ user.username }} {% endif %}</a>
        {% endfor %}
      </div>
      <div class="py-2">
        <ul class="pagination">
          {% if all_users.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_users.previous_page_number }}#users-tab" aria-label="Previous">
            <span>&laquo;</span>
            </a>
          </li>
          {% else %}
          <li class="disabled page-item">
            <a class="disabled page-link" href="" aria-label="Previous">
            <span>&laquo;</span>
            </a>
          </li>
          {% endif %}
          {% for i in all_users.paginator.page_range %}
          {% if all_users.number == i %}
          <li class="page-item active"><a class="page-link active" href="?page={{ i }}#users-tab">{{ i }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}#users-tab">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if all_users.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ all_users.next_page_number }}#users-tab" aria-label="Next">
            <span>&raquo;</span>
            </a>
          </li>
          {% else %}
          <li class="disabled page-item">
            <a class="disabled page-link" href="" aria-label="Previous">
            <span>&raquo;</span>
            </a>
            {% endif %}
        </ul>
      </div>
    </div>
    <div class="tab-pane fade bg-transparent" id="docs" role="tabpanel" aria-labelledby="docs-tab">
      <div class="py-4">
        <h3><a href="" style="text-decoration:none;"><i class="bi bi-link-45deg"></i></a> Creating an Announcement</h3>
        <h3><a href="" style="text-decoration:none;"><i class="bi bi-link-45deg"></i></a> Creating Lesson posts</h3>
        <h3><a href="" style="text-decoration:none;"><i class="bi bi-link-45deg"></i></a> Creating Blog Posts</h3>
      </div>
    </div>
    <div class="tab-pane fade bg-transparent" id="getting-started" role="tabpanel" aria-labelledby="getting-started-tab">
      <div class="py-4">
        <a href="" class="h3" style="text-decoration:none;">&gt; Create an Announcement</a>
        <br>
        <br>
        <a href="" class="h3" style="text-decoration:none;">&gt; Create a Lesson</a>
        <br>
        <br>
        <a href="" class="h3" style="text-decoration:none;">&gt; Create a Blog post</a>
        <br>
        <br>
        <a href="{% url 'home' %}" class="h3" style="text-decoration:none;">&gt; Moderate the site</a>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container py-5 text-center">
  <h1>You have no power here... Checkmate!</h1>
  <div class="py-5">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/CheckmateProper.jpg" alt="" height="300" class="rounded-3">
  </div>
</div>
{% endif %}
{% endblock %}