/*
*
*  Basic styles
*
*/

blockquote {
  margin: 0;
  padding-left: 1.4rem;
  position: relative;
}
blockquote::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background: #dadada;
  border-radius: 2px / 4px;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border: none;
}

table th {
  font-weight: 600;
}

#martor-user_bio {
  height: 800px;
  overflow-x: hidden;
  font-size: 100%;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}


.divider {
  height: 5rem;
  /*background-color: 	#FF8C00;*/
  background-color: #ff9f29;
  border-width: 1px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.exec-profile-image {
  height: 256px; 
  width: auto; 
  object-fit:cover;
}

.title-on-hover {
  color: #da7959;
}

.title-on-hover:hover {
  color: brown;
}

pre code {
  border-radius: 5px;
}

.hljs {
  padding: 1.5em;
  background-color: #f8f9fa;
  border: 2px solid #eee;
}
/*
*
*  Theming
*
*/
.dark {
  background-color: #111;
  background: #111;
  color: #fff;
}

.toggle-theme:checked {
  background-color: #333;
}

.dark-navbar {
  background-color: #1266F1;
  background: #1266F1
}

.footer {
  background-color: #f8f9fa;
}

.dark-footer {
  background-color: #222;
}

nav {
  background-color: #111;
}

#signup-btn {
  background: transparent;
  color: #dfe2e5;
}

#login-btn {
  background: transparent;
  color: #dfe2e5;
}

#logout-btn {
  background: transparent;
  color: deepskyblue;
}

#fancy-sudo {
  background-color: #F0F0F0;
}

.dark-fancy-sudo {
  color: #abb2bf!important;
  background-color: #282c34!important;
}

.dark-auth-buttons {
  color: #fff!important;
}

.direct-mention-link {
  text-decoration: none;
  font-weight: bold;
  color: royalblue;
}