<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load auth_extras %}
  <head>
    {% include "includes/head.html" %}
    <!-- css -->
    <link rel="stylesheet" href="{% static "style.css" %}">
    <!-- ChessboardJS for showing chessboards as part of AYJ chess club tutorials -->
    <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.min.css' %}">
    <script src="{% static 'js/chessboard-1.0.0.min.js' %}"></script>
    <!-- Chess.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Block JS -->
    {% block js %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-default navbar-static-top" id="navbar">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">AYJ Chess Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbardropdown" aria-controls="navbardropdown">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbardropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lesson-page' %}">Lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Contact</a>
        </li>
        {% if request.user|in_group:"execs" %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'admin-dashboard' %}">Site Dashboard</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <div class="form-check form-switch nav-link pb-4">
            <input class="form-check-input ms-auto toggle-theme" type="checkbox" onclick="toggleDark()" />
          </div>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link" id="logout-btn">
          Logout
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'register' %}" class="nav-link" id="signup-btn">
          Sign up
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link" id="login-btn">
          Login
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% if messages %}
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissable" role="alert">
    <div class="d-flex">
      <div class="flex-grow-1">{{ message }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <body>
    {% block content %}
    {% endblock %}
  </body>
  <footer class="footer mt-auto py-3" id="footer">
    <div class="container-fluid">
      <div class="text-center p-2">
        &copy; AYJ Chess Club, 2021. |  <a style="color: #ffc107;" target="_blank" href="https://www.instagram.com/ayjchessclub/"><i class="bi bi-instagram"></i></a> <a href="{% url 'home' %}"><i class="fa fa-envelope"></i></a> | Content licensed under <a target="_blank" style="text-decoration: none;" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a><br><a target="_blank" style="text-decoration: none;" href="https://github.com/AYJ-Chess-Club/website">Source code</a> under <a target="_blank" style="text-decoration: none" href="https://github.com/AYJ-Chess-Club/website/blob/master/LICENSE">MIT</a>
        <br>
        View our <a href="{% url 'home' %}" style="text-decoration: none;">Terms of service</a> - <a style="text-decoration: none;" href="{% url 'home' %}">Privacy Policy</a> 
      </div>
    </div>
  </footer>
  <script src="{% static "darkMode.js" %}"></script>
</html>